Importacion librerias:

In [2]:
import pandas as pd 
import numpy as np

cargamos base de datos en formato csv:

In [3]:
df = pd.read_csv('C:/Users/yana/Downloads/archive (1)/amazon_sales_data 2025.csv')

Ver datos

In [4]:
print(df.head())

  Order ID      Date        Product     Category  Price  Quantity  \
0  ORD0001  14-03-25  Running Shoes     Footwear     60         3
1  ORD0002  20-03-25     Headphones  Electronics    100         4
2  ORD0003  15-02-25  Running Shoes     Footwear     60         2
3  ORD0004  19-02-25  Running Shoes     Footwear     60         3
4  ORD0005  10-03-25     Smartwatch  Electronics    150         3

   Total Sales  Customer Name Customer Location Payment Method     Status
0          180     Emma Clark          New York     Debit Card  Cancelled
1          400  Emily Johnson     San Francisco     Debit Card    Pending
2          120       John Doe            Denver     Amazon Pay  Cancelled
3          180  Olivia Wilson            Dallas    Credit Card    Pending
4          450     Emma Clark          New York     Debit Card    Pending

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           250 non-null    object
 1   Date               250 non-null    object
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              250 non-null    int64
 5   Quantity           250 non-null    int64
 6   Total Sales        250 non-null    int64
 7   Customer Name      250 non-null    object
 8   Customer Location  250 non-null    object
 9   Payment Method     250 non-null    object
 10  Status             250 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.6+ KB
None

Describir estadisticas basicas:

In [6]:
print(df.describe())

             Price    Quantity  Total Sales
count   250.000000  250.000000   250.000000
mean    343.580000    2.856000   975.380000
std     380.635808    1.429489  1252.112254
min      15.000000    1.000000    15.000000
25%      40.000000    2.000000   100.000000
50%     150.000000    3.000000   400.000000
75%     600.000000    4.000000  1500.000000
max    1200.000000    5.000000  6000.000000

Limpieza de datos:

In [7]:
#verificar valores faltantes
print(df.isnull().sum())

Order ID             0
Date                 0
Product              0
Category             0
Price                0
Quantity             0
Total Sales          0
Customer Name        0
Customer Location    0
Payment Method       0
Status               0
dtype: int64

eliminar filas con valores faltantes:

In [8]:
df.dropna(inplace= True)

eliminar duplicados:

In [9]:

df.drop_duplicates(inplace=True)

verificacion de resultados:

In [10]:
print(df.info)

<bound method DataFrame.info of     Order ID      Date        Product     Category  Price  Quantity  \
0    ORD0001  14-03-25  Running Shoes     Footwear     60         3
1    ORD0002  20-03-25     Headphones  Electronics    100         4
2    ORD0003  15-02-25  Running Shoes     Footwear     60         2
3    ORD0004  19-02-25  Running Shoes     Footwear     60         3
4    ORD0005  10-03-25     Smartwatch  Electronics    150         3
..       ...       ...            ...          ...    ...       ...
245  ORD0246  17-03-25        T-Shirt     Clothing     20         2
246  ORD0247  30-03-25          Jeans     Clothing     40         1
247  ORD0248  05-03-25        T-Shirt     Clothing     20         2
248  ORD0249  08-03-25     Smartwatch  Electronics    150         3
249  ORD0250  19-02-25     Smartphone  Electronics    500         4

     Total Sales  Customer Name Customer Location Payment Method     Status
0            180     Emma Clark          New York     Debit Card  Cancelled
1            400  Emily Johnson     San Francisco     Debit Card    Pending
2            120       John Doe            Denver     Amazon Pay  Cancelled
3            180  Olivia Wilson            Dallas    Credit Card    Pending
4            450     Emma Clark          New York     Debit Card    Pending
..           ...            ...               ...            ...        ...
245           40  Daniel Harris             Miami     Debit Card  Cancelled
246           40  Sophia Miller            Dallas     Debit Card  Cancelled
247           40    Chris White            Denver     Debit Card  Cancelled
248          450  Emily Johnson          New York     Debit Card  Cancelled
249         2000  Emily Johnson           Seattle     Amazon Pay  Completed

[250 rows x 11 columns]>

Convertir Date a tipo fecha

In [11]:
df['columna_fecha'] = pd.to_datetime(df['Date'], errors='coerce')

C:\Users\yana\AppData\Local\Temp\ipykernel_8024\1495359288.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['columna_fecha'] = pd.to_datetime(df['Date'], errors='coerce')

Guardar datos limpios:

In [12]:
# Guardar el DataFrame limpio en un nuevo archivo CSV
df.to_csv('datos_limpios_ventas_amazon.csv', index=False)